<h1>Dashboard</h1>

<section class="image-search">
  <p>
    <%= form_tag "/images", method: :get do %>
    <%= label_tag :search %>
    <%= text_field_tag :search %>

    <%= submit_tag "Search" %>
    <% end %>
  </p>
</section>
