<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">GlitchCraft</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if current_user %>
        <span class="navbar-text" id="nav-text">Logged in as <%= current_user.name %></span>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
