<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="text-center">

  <!-- The video -->
  <video autoplay muted loop id="myVideo" style="z-index: -1">
    <source src="https://i.imgur.com/oBG2hmh.mp4" type="video/mp4">
  </video>

  <div class="content">
    <%= link_to 'Download', download_path, target: '_blank', class: "myBtn fa fa-download" %>
    <button class="myBtn fa" onclick="myFunction()">Pause</button>
  </div>

  <center>
    <div class="card embed-responsive-4by3" style="width: 40rem; margin-top: 10px; background: rgba(0, 0, 0, 0.8);">
      <div class="card-body" style="color:#b3b3b3; margin: 10px;">
        <section class="image">
          <%= image_tag @image.glitched, :class => "glitched-image embed-responsive-item img-fluid" %>
        </section>
      </div>
    </div>
  </center>

  <!-- <button class="btn"><i class="fa fa-download"></i> Download</button> -->
</body>

<script>
// Get the video
var video = document.getElementById("myVideo");

// Get the button
var btn = document.getElementById("myBtn");

// Pause and play the video, and change the button text
function myFunction() {
  if (video.paused) {
    video.play();
    btn.innerHTML = "Pause";
  } else {
    video.pause();
    btn.innerHTML = "Play";
  }
}
</script>
