<body class="text-center" style="background-image: url('https://elements-video-cover-images-0.imgix.net/files/a177d22c-13ce-4c47-b4b3-d244b7fac755/inline_image_preview.jpg?auto=compress%2Cformat&fit=min&h=394&w=700&s=8be1e07d16e2650fd150f602bb32bbfa'); margin: 0 auto;">
  <center>
    <h1 style="font-family: monaco; margin: 10px; color:white; font-size: 70px;">FAQ</h1>

    <div class="container" style="max-width: 100vw;">
      <div class="card-columns" style="font-family: monaco;">
        <div class="card text-white mb-3" style="max-width: 25rem; height: 80vh; background: rgba(0, 0, 0, 0.8);">
          <div class="card-header"><h5>What is Glitch Art?</h5></div>
          <div class="card-body">
            <p class="card-text">Have you ever accidentally opened a file in the wrong application and panicked? Little did you know you just unlocked a new databending skill! Databending is the process of manipulating a media file of a certain format in a software designed to edit files of another format. Artists have figured out how to percisely manipulate and delicately corrupt data without breaking the file.</p><br>
            <p>Glitch Art is a visual style artform that utilizes databending. It is characteried by using digital and analog errors for asthetic purposes and exposes a medium for expression and creativity in electronic technologies.</p>
          </div>
        </div>
        <div class="card text-white mb-3" style="max-width: 25rem; height: 80vh; background: rgba(0, 0, 0, 0.8);">
          <div class="card-header"><h5>About Our App</h5></div>
          <div class="card-body">
            <p class="card-text">Glitch Craft allows you to select an image to glitch from two different sources based off a keyword. The first image is generated fully from scratch based on an AI's preception of the keyword from DeepAI. The second image is found based off human generated perceptions of a keyword through image tags. After selecting an image, we'll cause a random glitch to the image's code and yeild your new glitched masterpiece!</p>
          </div>
        </div>
        <div class="card text-white mb-3" style="max-width: 25rem; height: 80vh; background: rgba(0, 0, 0, 0.8);">
          <div class="card-header"><h5>Here are some resources we enjoyed!</h5></div>
          <div class="card-body">
            <p class="card-text">Phillip Stearns has created an extensive <a href="https://phillipstearns.wordpress.com/glitch-art-resources/">resource list</a> for glitch art! Check it out if you want to learn more!</p>

            <p class="card-text">Checkout <a href="https://github.com/osromusic/Glitch-Arts-Resources#galleries">osromusic's repo</a> for a collection of artists and galleries!</p>

            <p class="card-text"><a href="http://www.glitchet.com/resources">Glitchet's art resourses</a> offers a multitude of glitching tutorials utilizing a variety of data file types.</p>
          </div>
        </div>
      </div>
    </div>
  </center>
</body>
